<?php

$S3 = array(
	'conf' => array(
		'credentials' => array(
			'key'    => '{{ tempr_s3key }}',
			'secret' => '{{ tempr_s3secret }}'
		),
		'region' => '{{ tempr_s3region }}',
		'version' => 'latest'
	),
	'bucket' => '{{ tempr_s3bucket }}'
);
