<?php
define('TEMPR_DB_HOST','{{ tempr_dbhost_ip }}');
define('TEMPR_DB_NAME','{{ tempr_dbname }}');
define('TEMPR_DB_USER','{{ tempr_dbuser }}');
define('TEMPR_DB_PASS','{{ tempr_dbpass }}');

define('TEMPR_STORE_HOST', '{{ tempr_storehost_ip }}');
define('TEMPR_MQ_HOST', '{{ tempr_jobshost_ip }}');

define('TEMPR_STORE_EVENTS_AND_PUSH', 0);
define('TEMPR_STORE_AUTH_DB', 1);
define('TEMPR_STORE_ANTI_HAMMERING_DB', 2);
define('TEMPR_STORE_TRENDS_DB', 3);
define('TEMPR_STORE_CONFIRMPHONE_DB', 4);
define('TEMPR_STORE_POSTSMS_DB', 5);
