PromptData="\u@\h \w $\[\033[0m\] "

PromptDanger='\[\033[1;37;101m\]'
PromptWarning='\[\033[1;30;103m\]'
PromptCool='\[\033[1;30;42m\]'

#export PS1=$PromptWarning$PromptData
alias rm='rm -i'

export PS1=$PromptDanger$PromptData

export PATH=$PATH:/root/bin/
