<VirtualHost *:443>
    ServerName {{ tempr_wshost_fqdn }}
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html/WS
    SSLEngine on
# CERTIFICATES BEGIN
    SSLCertificateFile      /etc/apache2/ws_server.crt
    SSLCertificateKeyFile /etc/apache2/ws_server.key
    #SSLCertificateFile      /etc/letsencrypt/live/{{ tempr_wshost_fqdn }}/cert.pem
    #SSLCertificateKeyFile /etc/letsencrypt/live/{{ tempr_wshost_fqdn }}/privkey.pem
    #SSLCertificateChainFile /etc/letsencrypt/live/{{ tempr_wshost_fqdn }}/chain.pem
# CERTIFICATES END

    # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
    # error, crit, alert, emerg.
    # It is also possible to configure the loglevel for particular
    # modules, e.g.
    #LogLevel info ssl:warn

    ErrorLog ${APACHE_LOG_DIR}/ws.error.log
    CustomLog ${APACHE_LOG_DIR}/ws.access.log combined


    <Directory "/var/www/html/WS">
        AllowOverride All
        Options -Indexes +FollowSymLinks
        Order allow,deny
        Allow from all
    </Directory>

</VirtualHost>
