<?php
defined('BASEPATH') OR exit('No direct script access allowed');

define('FILE_READ_MODE', 0644);
define('FILE_WRITE_MODE', 0666);
define('DIR_READ_MODE', 0755);
define('DIR_WRITE_MODE', 0755);

define('FOPEN_READ', 'rb');
define('FOPEN_READ_WRITE', 'r+b');
define('FOPEN_WRITE_CREATE_DESTRUCTIVE', 'wb'); // truncates existing file data, use with care
define('FOPEN_READ_WRITE_CREATE_DESTRUCTIVE', 'w+b'); // truncates existing file data, use with care
define('FOPEN_WRITE_CREATE', 'ab');
define('FOPEN_READ_WRITE_CREATE', 'a+b');
define('FOPEN_WRITE_CREATE_STRICT', 'xb');
define('FOPEN_READ_WRITE_CREATE_STRICT', 'x+b');

define('SHOW_DEBUG_BACKTRACE', TRUE);

define('EXIT_SUCCESS', 0); // no errors
define('EXIT_ERROR', 1); // generic error
define('EXIT_CONFIG', 3); // configuration error
define('EXIT_UNKNOWN_FILE', 4); // file not found
define('EXIT_UNKNOWN_CLASS', 5); // unknown class
define('EXIT_UNKNOWN_METHOD', 6); // unknown class member
define('EXIT_USER_INPUT', 7); // invalid user input
define('EXIT_DATABASE', 8); // database error
define('EXIT__AUTO_MIN', 9); // lowest automatically-assigned error code
define('EXIT__AUTO_MAX', 125); // highest automatically-assigned error code

/* TEMPR */
/* TODO modify Deploy/Vagrant/roles/dashboard_role according to following data */
define('TEMPR_ES_HOST', '{{ tempr_elasticsearchhost_ip }}:9200');
define('TEMPR_STORE_HOST', '{{ tempr_storehost_ip }}');
define('TEMPR_MQ_HOST', '{{ tempr_jobshost_ip }}');
define('TEMPR_DB_HOSTFULL', 'pgsql:host={{ tempr_dbhost_ip }};dbname={{ tempr_dbname }}');
define('TEMPR_DB_USER', '{{ tempr_dbuser }}');
define('TEMPR_DB_PASS', '{{ tempr_dbpass }}');
define('TEMPR_DB_NAME', '{{ tempr_dbname }}');
define('TEMPR_ME','https://{{ tempr_wwwhost_fqdn }}/');
define('TEMPR_CO','http://tempr.co/');

define('TEMPR_STORE_EVENTS_AND_PUSH', 0);
define('TEMPR_STORE_AUTH_DB', 1);
define('TEMPR_STORE_ANTI_HAMMERING_DB', 2);
define('TEMPR_STORE_TRENDS_DB', 3);
define('TEMPR_STORE_CONFIRMPHONE_DB', 4);
define('TEMPR_STORE_POSTSMS_DB', 5);

define('S3KEY','{{ tempr_s3key }}');
define('S3SECRET','{{ tempr_s3secret }}');
define('S3REGION','{{ tempr_s3region }}');
define('S3BUCKET','{{ tempr_s3bucket }}');
